/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
 margin: 0;
 padding: 0;
 border: 0;
 font-size: 100%;
 font: inherit;
 vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
 display: block;
}
body {
 line-height: 1;
}
ol, ul {
 list-style: none;
}
blockquote, q {
 quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
 content: '';
 content: none;
}
table {
 border-collapse: collapse;
 border-spacing: 0;
}
/*End of CSS Reset*/
/*-----------------------------------------------------------------*/
/*-----------------------------------------------------------------*/
/*-----------------------------------------------------------------*/
/*-----------------------------------------------------------------*/
/*-----------------------------------------------------------------*/

html{
  box-sizing: border-box;
}
*, *:before, *:after  {
  box-sizing: inherit;
}

body  {
  max-width:1000px;
  margin: auto;
  font-family: proxima-nova, sans-serif;
  margin-top: 20px;

}


/*---------------------- Header ----------------------*/
.header{
  display: flex;
  flex-direction: row;
  background-color: none;
  align-items: center;
  max-width: 980px;
  min-width: 320px;
}


img.logo {
  width:160px;
  color: #11b9fc;
  margin-right: 32px
}

/*kyle d design*/
h1  {
  font-family: all-round-gothic, sans-serif;
  font-size: 38px;
  font-weight: 600;
  text-align: center;
}

/*nav stuff*/
h2  {
  font-family: all-round-gothic, sans-serif;
  font-size: 30px;
  font-weight: 700px;

  text-align: center;
  margin: auto 20px auto 40px;
}

/*current page*/

h6 {
  color:white;
  background-color: #11b9fc;
  font-family: all-round-gothic, sans-serif;
  font-size: 30px;
  font-weight: 700px;
  width: 130px;
  height: 56px;
  text-align: center;
  line-height:1.7;
  margin-left: 30px;
}

a{
  color: inherit;
  text-decoration: none;
}

/*---------------------- Header end ----------------------*/

/*-------subheads------*/
h3  {
  color:white;
  background-color: #11b9fc;
  font-family: all-round-gothic, sans-serif;
  font-size: 28px;
  font-weight: 700px;
  height: 56px;
  text-align: center;
  line-height:2;
}

/*blue heading*/
h3.work{
    width: 260px;
    margin-top: 54px;
}

/*blue heading*/
h3.edu {
  width: 170px;
  margin-top: 36px;
  margin-bottom: 12px;
}

/*blue heading*/
h3.skills {
  width: 100px;
}

/*-------body text------*/


p, ul {
  font-size: 18px;
  line-height: 120%;
}

i {
  font-style: italic;
}

b, h4 {
  font-weight: 700;
  line-height: 120%;
  margin-top: 24px;
}
h4  {
    font-size: 20px;

}

span.jobhead {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}


}

/*---layout stuff---*/

body  {
  display: flex;
  flex-direction: row;
}

/*
div.column-1, div.column-2 {
  outline: 3px solid blue;
}
*/

div.column-1 {
  width: 500px;
  float: left;
}


div.column-2 {
  width: 475px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*----column-2 contents---*/
img.illustration {
  width:400px;

}

h3.skills {

  margin-top: 20px;
  margin-bottom: 10px;

    margin-left: auto;
    margin-right: auto;
}
h4.software {
  text-align: center;
  margin-bottom: 4px;
}

ul {
  margin-left: 25px;
  width: 250px;
  list-style-type: disc;
  list-style-position: inside;
  line-height: 140%
}
